<div data-bsi-element="textarea" id="textarea">
    <div data-bsi-element-part="form-textarea" class="reverse-for-required">
        <textarea id="additional-comments"
            name="additional-comments"
            rows="3"
            cols="4"
            spellcheck="false"></textarea>
        <label for="sample-textarea">Bemerkungen</label>
    </div>
</div>
