/* highlight required radiobutton sets with required star */
.required-radiobutton-field::after {
    content: "*";
    color: red;
    padding-left: 5px;
}

/* style custom radiobuttons */
input[type="radio"] {
    display: none;
}

/* correctly align content */

.custom-radiobutton-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

/* accomodate spacing for custom checkbox in label */

.custom-radiobutton-container label {
    padding-left: 30px;
    /* In BSI, the label cannot wrap around the input element, 
    as it is traditionally done when using custom checkbox for optimal 
    UX + styling. Hence, we have to position the checkbox label
    above the .custom-checkbox-frame; otherwise the checkbox would
    not be directly clickable */
    /* to assure that checkbox is always clickable (place label above) */
    z-index: 2;
    margin-left: -15px;
}

.custom-radiobutton-container label:hover {
    cursor: pointer;
}

/* create custom checkbox frame */

.custom-radiobutton-container .custom-radiobutton-frame {
    background-color: white;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    /* assure that checkbox is clickable (place below label) */
    z-index: 1;
}

.custom-radiobutton-container label:hover ~ .custom-radiobutton-frame {
    background-color: #eee;
}

/* create custom checkbox checked symbol */

.custom-radiobutton-frame::after {
    content: "";
    width: 4px;
    height: 9px;
    transform: rotate(45deg);
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    display: none;
    /* to assure that checkbox is clickable (place below label) also when checked */
    z-index: 1;
}

.custom-radiobutton-container input:checked ~ .custom-radiobutton-frame::after {
    display: block;
}

.radiobutton-container-wrapper {
    margin: 10px 0;
}

.radiobutton-container-wrapper > div > label {
    margin-bottom: 5px;
}
