@import "~@bsi-cx/design-standard-library-web/styles/styles.scss";
@import "../../../components/form/checkbox/styles.scss";
@import "../../../components/form/radiobutton-container/styles.scss";
@import "../../../components/layout/single-column/styles.scss";
@import "../../../components/layout/two-columns/styles.scss";
@import "../../../components/sections/form/styles.scss";

$logoWidth: bsiProperty("logoWidth", 60px);

/*
 * Global styles that are independent from a specific content element
 */

.navbar {
  .navbar-brand {
    width: $logoWidth;
    .logo {
      width: $logoWidth;
    }
    figure {
      margin: 0;
      img {
        margin: 0;
      }
    }
  }
  .container.bsi-logo-align-right {
    justify-content: flex-end !important;
    .navbar-brand {
      margin-right: 0 !important;
    }
  }
}

.nav-center + .navigation {
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  margin-left: 0;
  margin-right: auto;
  @include media-breakpoint-down(lg) {
    margin-left: auto;
    margin-right: 0;
  }
}

//Single Column Layout
.single-column-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
}

.single-column-layout > * {
    width: 100%;
}

// Two Columns Layout

.two-columns-layout {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    flex-wrap: wrap;
}

/* mobile first */
.two-columns-layout .half-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.two-columns-layout .half-column:nth-child(2) {
    padding-top: 10px;
}

@media (min-width: 650px) {
    .two-columns-layout .half-column {
        width: 48%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .two-columns-layout .half-column:first-child {
        margin-right: 2%;
    }

    .two-columns-layout .half-column:nth-child(2) {
        margin-left: 2%;
        padding-top: 0;
    }
}

.two-columns-layout .half-column > * {
    width: 100%;
}

//Group Form
form .missing-required-field {
    border-color: red;
}

#required-missing-feedback {
    display: flex;
    width: 100%;
    justify-content: center;
    color: red;
    overflow: hidden;
    height: 0;
}

#required-missing-feedback.enable {
    height: auto;
}

input[type="submit"] {
    color: white;
    padding: 10px 20px;
    border-radius: 0;
    font-size: 16px;
    margin: 20px 0;
    transition: border-color 0.5s, color 0.5s, background 0.5s;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.left-align-submit-button .form-submit-button-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.center-submit-button .form-submit-button-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.submission-form input[type="submit"] {
    border-radius: 0 !important;
}

.additional-person {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s, opacity 0.5s;
    overflow: hidden;
}

.additional-person.toggled {
    max-height: 1250px;
    opacity: 1;
}


//Radiobutton Container

/* highlight required radiobutton sets with required star */
.required-radiobutton-field::after {
    content: "*";
    color: red;
    padding-left: 5px;
}

/* style custom radiobuttons */
input[type="radio"] {
    display: none;
}

/* correctly align content */

.custom-radiobutton-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

/* accomodate spacing for custom checkbox in label */

.custom-radiobutton-container label {
    padding-left: 30px;
    /* In BSI, the label cannot wrap around the input element, 
    as it is traditionally done when using custom checkbox for optimal 
    UX + styling. Hence, we have to position the checkbox label
    above the .custom-checkbox-frame; otherwise the checkbox would
    not be directly clickable */
    /* to assure that checkbox is always clickable (place label above) */
    z-index: 2;
    margin-left: -15px;
}

.custom-radiobutton-container label:hover {
    cursor: pointer;
}

/* create custom checkbox frame */

.custom-radiobutton-container .custom-radiobutton-frame {
    background-color: white;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    /* assure that checkbox is clickable (place below label) */
    z-index: 1;
}

.custom-radiobutton-container label:hover ~ .custom-radiobutton-frame {
    background-color: #eee;
}

/* create custom checkbox checked symbol */

.custom-radiobutton-frame::after {
    content: "";
    width: 4px;
    height: 9px;
    transform: rotate(45deg);
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    display: none;
    /* to assure that checkbox is clickable (place below label) also when checked */
    z-index: 1;
}

.custom-radiobutton-container input:checked ~ .custom-radiobutton-frame::after {
    display: block;
}

.radiobutton-container-wrapper {
    margin: 10px 0;
}

.radiobutton-container-wrapper > div > label {
    margin-bottom: 5px;
}


//Checkboxes

/* disable default checkbox display */

input[type="checkbox"] {
    display: none;
}

/* correctly align content */

.custom-checkbox-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

/* accomodate spacing for custom checkbox in label */

.custom-checkbox-container label {
    padding-left: 30px;
    /* In BSI, the label cannot wrap around the input element, 
    as it is traditionally done when using custom checkbox for optimal 
    UX + styling. Hence, we have to position the checkbox label
    above the .custom-checkbox-frame; otherwise the checkbox would
    not be directly clickable */
    /* to assure that checkbox is always clickable (place label above) */
    z-index: 2;
    margin-left: -15px;
}

.custom-checkbox-container label:hover {
    cursor: pointer;
}

/* create custom checkbox frame */

.custom-checkbox-container .custom-checkbox-frame {
    background-color: white;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    /* assure that checkbox is clickable (place below label) */
    z-index: 1;
}

.custom-checkbox-container label:hover ~ .custom-checkbox-frame {
    background-color: #eee;
}

/* create custom checkbox checked symbol */

.custom-checkbox-frame::after {
    content: "";
    width: 4px;
    height: 9px;
    transform: rotate(45deg);
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    display: none;
    /* to assure that checkbox is clickable (place below label) also when checked */
    z-index: 1;
}

.custom-checkbox-container input:checked ~ .custom-checkbox-frame::after {
    display: block;
}

.custom-checkbox-container {
    margin: 10px 0;
}

