<div data-bsi-element="checkbox" id="checkbox">
    <div data-bsi-element-part="form-checkbox"
        class="custom-checkbox-container"
        data-bsi-form-field-fixed-type="">
        <input id="sample-checkbox"
            name="sample-checkbox"
            type="checkbox"
            class="custom-checkbox-field" spellcheck="false"/>
        <label for="sample-checkbox">Checkbox</label>
        <span class="custom-checkbox-frame"></span>
    </div>
</div>
