{# if there's a custom ID, do not treat this element as BSI element #}
{# this is done to be able to create custom fields which must be ready when a new content is created with this design #}
{% if custom_id %}
    <div>
        <div data-bsi-element-part="form-field"
            class="reverse-for-required"
            data-bsi-form-field-fixed-type="">
            <input id="{{ custom_id }}"
                name="{{ custom_id }}"
                type="text"
                class="custom-form-field"
                data-bsi-form-validation-message="Bitte Email richtig ausfüllen"
                spellcheck="false"
                {% if required %}
                required=""
                {% endif %}/>
            <label for="{{ custom_id }}">E-mail</label>
        </div>
    </div>
{% else %}
    <div data-bsi-element="email" id="email">
        <div data-bsi-element-part="form-field"
            class="reverse-for-required"
            data-bsi-form-field-fixed-type="">
            <input id="email"
                name="email"
                type="text"
                class="custom-form-field"
                data-bsi-form-validation-message="Bitte Email richtig ausfüllen"
                spellcheck="false"
                {% if required %}
                required=""
                {% endif %}/>
            <label for="email">E-mail</label>
        </div>
    </div>
{% endif %}
